.about {
  margin: 0 auto;
  padding: 0px 200px;

  .about-me {
    margin: 0 0 50px 0;
  }

  .main-heading {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 900;
    margin: 64px 0px 28px;
    width: 100%;
    font-size: 50px;
    white-space: nowrap;
    color: #000;

    &::after {
      content: "";
      display: block;
      position: relative;
      top: -5px;
      width: 300px;
      height: 1px;
      margin-left: 20px;
      background-color: #776f6f;
    }
  }

  .text-card p {
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    line-height: 25px;
    margin-bottom: 20px;
  }
  p > a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: #fd2155;
  }
  p > a:hover {
    color: #fd2155;
    outline: 0px;
  }
  p > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: #fd2155;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0.5;
  }
  p > a:hover::after {
    width: 100%;
  }

  .resume-btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 26px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    &:after,
    &:before {
      content: " ";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 0px solid #fff;
      transition: all 1s;
    }
    &:after {
      top: -1px;
      left: -1px;
      border-top: 5px solid black;
      border-left: 5px solid black;
    }
    &:before {
      bottom: -1px;
      right: -1px;
      border-bottom: 5px solid black;
      border-right: 5px solid black;
    }
    &:hover {
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;

      &:before,
      &:after {
        width: 100%;
        height: 100%;
      }
    }
  }

  .skills ul.skills-list {
    color: #545454;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0 40px 0;
    overflow: hidden;
    list-style: none;
  }
  .skills ul.skills-list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: 400;
  }
  .skills ul.skills-list li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: #fd2155;
    font-size: 14px;
    line-height: 12px;
  }
  .img-card {
    position: relative;
    width: 70%;
    margin-left: 10px;
    z-index: 1;

    &:before {
      content: "";
      position: absolute;
      right: -25px;
      top: 25px;
      border: 2px solid #fd2155;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  p svg {
    margin-left: 1rem;
    animation-name: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  .random-facts {
    padding: 200px 40px 60px 40px;
  }
  .texts a {
    color: #333333;
    text-decoration: underline;
  }

  .random-facts h2 {
    margin-bottom: 30px;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 400;
  }

  .random-facts ul {
    padding: 0;
    list-style: none;
  }
  .facts-list li {
    margin-bottom: 15px;
    font-size: 17px;
    color: #545454;
    font-weight: 400;
  }
  .mentor-img {
    width: 50%;
    height: auto;
    margin: auto 20px;
  }
  .mentor-img:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
  }
  .mentor-img img {
    transform: rotateX(70deg) rotateZ(-60deg) translate3d(-120px, 0px, 70px);
    box-shadow: -80px 60px 15px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
    transform-style: preserve-3d;
  }
  .mentor-img:hover img {
    transform: rotateX(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .to-work-page p {
    color: #545454;
    font-size: 15px;
    font-weight: 400;
  }
  .to-work-page a:hover {
    color: #0a58ca;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 991px) {
  .about {
    padding: 50px 0;
  }
  .random-facts {
    padding: 100px 0 40px 0;
  }
  .about-me {
    padding: 0 20px;
  }
  .about .inner {
    display: block;
  }
  .text-card p {
    font-size: 16px;
  }

  .imgs {
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-card {
    width: 65%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto 40px;
  }
  .texts {
    margin-bottom: 50px;
  }
  .mentor-img img {
    width: 100%;
    height: auto;
  }
  .mentor-img {
    margin: auto;
  }

  .order2 {
    order: 2;
  }
}

@media (max-width: 768px) {
  .about .main-heading {
    font-size: 40px;
    text-align: center;
  }
  .mentor-img:hover img {
    transform: none;
  }
  .mentor-img img {
    transform: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}
