.contact {
  padding: 0px 200px;
  height: 100vh;

  .main-heading {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 900;
    margin: 64px 0px 28px;
    width: 100%;
    font-size: 50px;
    white-space: nowrap;
    color: #000;
  }
  p {
    color: #545454;
    line-height: 2;
    margin-top: 5px;
    font-size: 16px;
  }
  p > b {
    color: #000;
  }
  .fields {
    position: relative;
  }
  input {
    background: transparent !important;
    margin-bottom: 32px;
    resize: none;
    color: #000;
    box-shadow: none !important;
    padding: 24px 21px;
    border-color: #eaeaea !important;
    transition: 0.4s;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  textarea {
    background: transparent;
    margin-bottom: 32px;
    color: #000 !important;
    box-shadow: none !important;
    padding: 24px 21px !important;
    border-color: #eaeaea !important;
  }
  textarea.form-control {
    height: auto;
  }
  button {
    font-weight: 400;
    font-size: 15px;
    background: #000;
    border: none;
    color: #fffdfc;
    border-radius: 4px;
    padding: 15px 40px;
    margin-bottom: 48px;
    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    color: #fff;
    background-color: #000;
    transform: translateY(-3px);
  }

  #envelope {
    animation: float 2s ease-in-out infinite;
  }

  #star1,
  #star2,
  #star3,
  #star4,
  #star5,
  #star6 {
    animation: blink 1s ease-in-out infinite;
  }
  #star2 {
    animation-delay: 100ms;
  }
  #star3 {
    animation-delay: 500ms;
  }
  #star4 {
    animation-delay: 700ms;
  }
  #star5 {
    animation-delay: 300ms;
  }
  #star6 {
    animation-delay: 200ms;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  .to-home-page p {
    font-size: #000;
    margin: 50px 0 0;
    font-size: 15px;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
  }
  
  .to-home-page a:hover {
    color: #0a58ca;
    text-decoration: underline;
  }

  p svg {
    margin-left: 1rem;
    animation-name: forward;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
@media (max-width: 991px) {
  .contact {
    padding: 50px 0;
  }
  .contact form {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .contact .main-heading {
    font-size: 40px;
    text-align: center;
  }
  .contact-image {
    display: none;
  }
}
