.leftSide-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #545454;
}
.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social-icon li:last-of-type {
  margin-bottom: 20px;
}
.social-icon li a {
  display: flex;
  font-size: 22px;
  color: #000;
  padding: 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.social-icon a:hover {
  // color: #fd2155;
  transform: translateY(-3px);
}

.stick {
  width: 2px;
  height: 135px;
  background: #000;
}

.rightSide-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #000;
}
.email-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.email-style a {
  color: #000;
  margin: 20px auto;
  padding: 10px;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  transition: all 0.3s ease;
  text-decoration: none;
}

.email-style a:hover {
  transform: translateY(-3px);
  // color: #fd2155;
}

@media (max-width: 768px) {
  .mediaq1 {
    display: none;
  }
  .mediaq2 {
    display: none;
  }
}
@media (max-width: 1080px) {
  .mediaq1 {
    left: 20px;
    right: auto;
  }
  .mediaq2 {
    left: auto;
    right: 20px;
  }
}
