@import "navbar";
@import "hero";
@import "about";
@import "projects";
@import "resume";
@import "contact";
@import "socialLinks";
@import "footer";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fffdfc;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  line-height: 1.3;
}
h1,h2{
  font-family: "Blorado" , sans-serif;
}
a {
  text-decoration: none;
}
