@import "navbar";
@import "hero";
@import "about";
@import "projects";
@import "resume";
@import "contact";
@import "socialLinks";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Blorado, sans-serif;
  background-color: #fffdfc !important;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  line-height: 1.3;
}

a {
  text-decoration: none;
}
