/*---------- modal ------------*/

.modal-content {
  background-color: #f3f4f6 !important;
}

.modal-body {
  padding: 3rem;

}
.container.form-status{
    padding:44px;
}

.container.form-status h1 {
  font-size: 1.8em;
  font-weight: 700;
}
.container.form-status p{
    margin-top: 1rem;
    color: #666260;
}
.container.form-status a{
    cursor: pointer;
    font-weight:600;
    color: #e5122e !important;
    text-transform: none !important;
}
.container.form-status a:hover{
    text-decoration:underline !important;
}
